* {
    box-sizing: border-box;
}

.questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    background-size: cover;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, serif;
    font-size: large;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

}

.questions {
    background-color: darkgray;
    width: 1500px;
    border-radius: 50px;

}

h2 {
    padding-left: 25px;
}

.question {
    background-color: antiquewhite;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 1500px;
    margin-bottom: 35px;
}

.answer {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    cursor: pointer;

}

button {
    font-family: Verdana, Geneva, Tahoma, serif;
    font-size: large;
    background-color: aqua;
    border: none;
    width: 800px;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 60px;
    cursor: pointer;
}

button:hover {
    background-color:#9932CC;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    margin-bottom: 25px;
}

.legend {
    display: none;
}

.legend--active {
    display: block;
}

.legend__item {
    display: flex;

}

.legend__icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.legend__icon--white {
    background: white;
}

.legend__icon--black {
    background: black;
}

